body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
    margin: 10px;
    padding: 10px;
}

header{
    display:flex;
    padding : 10px;
    top:0;
    position:sticky; 
    justify-content:space-between;
    align-items:center;
    background-color:#000000b3;
    font-size:20px;
    color:white;
    font-family:tahoma;
    height:50px;
}
header p{
    font-size: 30px;
}

input {
    padding: 5px;
    width: 90%; 
    max-width: 320px; 
    margin-bottom: 10px;
    margin-right: 3%;
    background-color: rgb(240, 240, 240);
    height: 30px;
    border: 0;
    font-size: larger;
    border-radius: 10px;
    outline: 0;
}

button {
    padding: 5px;
    height: 30px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px; 
    background-color: rgb(240, 240, 240);
    transition: 1s;
}

button:hover{
    background-color: rgb(143, 143, 143);
}

iframe {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    outline: 0;
    height: 500px; 
    width: 90%; 
    max-width: 1000px; 
    margin-left: auto;
}

.con {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    max-width: 1000px; 
    background-color: #ffee00;
}

.con p {
    font-weight: bold;
    margin-bottom: 8px;
}

.con ul {
    list-style-type: none;
    padding: 0;
}

.con ul li {
    margin-bottom: 5px;
}

.con ul li:before {
    content: "•"; 
    margin-right: 5px;
}


.Alert{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    max-width: 500px; 
    background-color: rgb(161, 0, 0);
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000; 
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }

.Alert button{
    background-color: red;
    padding: 10px;
    color: white;
}

.Alert .WR{
    font-size: 25px;
    font-weight: 700;
}

.Alert button:hover{
    background-color: rgb(175, 0, 0);
}
